img{
    height: 100px;
    width: 100px;
}
.box{
    height: 300px;
    width: 300px;
    /* background: linear-gradient(to top,red ,blue,green); */
    background: radial-gradient(circle,red 30%, rgb(0, 0, 19) 50%,yellow 30%);
}

:root{
    --clr:rgb(165, 128, 128);
    --bgclr:black;
}
h1{
    color: var(--clr);
    background-color: var(--bgclr);
}
h2{
    color: var(--clr);
    background-color: var(--bgclr);
}
h2{
    color: var(--clr);
    background-color: var(--bgclr);
}